{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%} Login {% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<div class="content-section">
<form method="post">
    {% csrf_token %}

    <fieldset class="form-group">

        <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label}}: </label> {{f}}</p>
    <div class="form-error"> {{f.errors}}</div>
    {% endfor %}

<!--    <form method="POST" novalidate>-->
<!--         {{form.captcha}}-->
<!--         <input type="submit" value="submit">-->
<!--    </form>-->

                <legend class="border-bottom mb-4">Log In</legend>

                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Register now</a>
            </small><br>
            <small class="text-muted">
                <a href="/">Forgot password?</a>
            </small>
        </div>

</form>
{% endblock %}